<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>API_SCHEME</key>
	<string>$(API_SCHEME)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>KodeMono-Regular.ttf</string>
		<string>KodeMono-Medium.ttf</string>
		<string>KodeMono-SemiBold.ttf</string>
		<string>KodeMono-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs your location to function properly, even when the app is in the background.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs your location always to provide continuous tracking, even in the background.</string>
	<key></key>
	<string></string>
</dict>
</plist>
